@import './mixin';
@import './config';
.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    &>* {
        box-sizing: border-box;
    }
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
    margin-top: 10px;
}

.col-md-6 {
    flex: 0 0 auto;
    @media screen and (min-width: $tablet-breakpoint) {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.breadcrumb {
    width: 100%;
    padding: 35px 0;
    &_link {
        &:hover {
            color: var(--primary);
        }
    }
    span {
        color: var(--primary);
    }
}

.error-msg {
    color: red;
    text-align: center;
}

.h1 {
    display: block;
    text-transform: uppercase;
    font-size: 2.25rem;
    color: var(--grey);
    font-weight: 600;
    line-height: 1.3;
}

.brand-name {
    display: inline;
    font-weight: 600;
    line-height: 1.3;
    color: var(--black);
    position: relative;
    &::after {
        content: "";
        position: absolute;
        border-bottom: var(--primary) 3px solid;
        width: 80%;
        bottom: -25%;
        left: 0;
    }
}

.content {
    padding-top: 30px;
    .forms {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 30px;
        flex-wrap: wrap;
        .text {
            font-size: 14px;
            color: var(--grey);
            font-weight: 400;
            &--bold {
                font-weight: 600;
            }
        }
        .btn {
            font-size: 14px;
            border-radius: 5px;
            padding: 8px 12px;
            transition: all 0.2s ease;
            font-weight: normal;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 10px;
            border: #d3ced2 1px solid;
            padding: 20px;
            text-align: left;
            border-radius: 5px;
        }
        .form {
            label {
                display: block;
            }
            input {
                outline: none;
                border-radius: 5px;
                border: #d3ced2 1px solid;
                padding: 8px;
            }
            input:focus {
                box-shadow: 0 0 8px var(--primary-light);
                border: 1px solid var(--primary-light);
            }
            input[type="checkbox"] {
                width: fit-content;
            }
            input[type="checkbox"]+label {
                margin-left: 0.5rem;
            }
            .extend {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .btn {
                    border: var(--primary) 2px solid;
                    color: var(--primary);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    &:hover {
                        background: var(--primary);
                        color: white;
                    }
                }
            }
            .actions {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .btn {
                    color: #515151;
                    background-color: #ebe9eb;
                    font-weight: bold;
                }
            }
        }
        .login {}
        .register {}
    }
}