// Responsive settings
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;
// Color define
:root {
    --quill-grey: #d3d3d3;
    --desert-storm: #F7F7F7;
    --midnight: #141130;
    --butterfly-bush: #3C2C7C;
    --mountain-mist: #9390A0;
    --dirty-orange: #D37200;
    --hard-dirty-orange: #a85a00;
    --ebony-clay: #232641;
    --heavy-white-smoke: #e6ecf1;
    --milk-white: #FDFCFC;
    // Authen color
    --tuna: #372C57;
    --soft-blue: #6E88FD;
    --ultramarine-blue: #4A6CFF;
    --toxic-green: #3CE241;
    --kelly-green: #0BC311;
    // Search
    --linen: #fdeee6;
    --cloud-burst: #20274D;
    //change name color for using easily
    --primary: #a4712a;
    --primary-light: #e2a857;
    --grey: #707070;
    --black: #000;
}


/* Import fonts */

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: TekoBold;
    src: url('../fonts/Teko/Teko-Bold.ttf');
}


/* Smooth scroll behavior*/

@media (prefers-reduced-motion: no-preference) {
     :root {
        scroll-behavior: smooth;
    }
}


/* Overall */

:root {
    font-size: 16px;
    /* Font size desktop */
}

@media (min-width: $desktop-breakpoint) {
     :root {
        font-size: 20px;
        /* Font size tablet */
    }
}

@media (max-width: $desktop-breakpoint) {
     :root {
        font-size: 14px;
        /* Font size tablet */
    }
}

@media (max-width: $tablet-breakpoint) {
     :root {
        font-size: 12px;
        /* Font size mobile */
    }
}

@media (max-width: $mobile-breakpoint) {
     :root {
        font-size: 10px;
        /* Font size mobile */
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.2px;
    background-color: var(--white-smoke);
}


/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.container {
    margin: 0px auto;
    padding: 0px 100px;
}

@media (max-width: $desktop-breakpoint) {
    .container {
        padding: 0px 50px;
    }
}

@media (max-width: $mobile-breakpoint) {
    .container {
        padding: 0px 30px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.95rem;
}

h3 {
    font-size: 1.45rem;
}

h4 {
    font-size: 1.425rem;
}

h5 {
    font-size: 1.3rem;
    letter-spacing: 0.1px;
}

h6 {
    font-size: 1rem;
}

p {
    color: var(--light-grey);
    font-size: 1rem;
    /* Keep font-size at 0.875rem */
    margin: 0;
}

small {
    color: var(--light-grey);
    font-size: 0.9rem;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 0.875rem;
    font-family: Montserrat, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

i {
    position: relative;
    bottom: -2px;
}

input {
    font-family: Montserrat, sans-serif;
}