@import './mixin';

// Responsive settings
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;

.header {
    position: sticky;
    width: 100vw;
    height: 70px;
    background-color: white;
    box-shadow: 0px 10px 10px -3px rgba(83, 83, 83, 0.1);

}