@import './mixin';

.login__container {
    background-image: url('../images/backgrounds/login-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    // direction - justify content - align items - flex wrap
    @include dflex(row, center, center, nowrap);

    .login {
        // direction - justify content - align items - flex wrap
        @include dflex(column, space-between, normal, nowrap);
        width: 500px;
        height: 100vh;
        background-color: rgba(255,255,255,1);
        box-shadow: 0px 0px 5px #888888;
        position: relative;
        overflow: hidden;
        
        .login__logo {
            width: 100%;
            overflow: hidden;
            margin-top: 2rem;
            animation: loginMoveUpFadeReverse 3s ease-out;
            // direction - justify content - align items - flex wrap
            @include dflex(row, center, flex-start, nowrap);
            img {
                width: auto;
                max-width: 50%;
            }
        }
        .login__form {
            // direction - justify content - align items - flex wrap
            @include dflex(row, center, normal, nowrap);
            flex-wrap: wrap;
            width: calc(100% - 4rem);
            position: relative;
            margin-bottom: 5rem;
            animation: loginMoveUpFadeReverse 3s ease-out;
            padding: 0px 2rem;
            & > h3 {
                // font-size: 20px;
                text-align: left;
                margin-bottom: 10px;
                width: 100%;
            }
            & > p {
                margin-bottom: 2rem;
                width: 100%;
                img {
                    width: 25px;
                    height: 25px;
                    transform: translateY(10px);
                }
            }
            .login__data-entry {
                position: relative;
                width: 100%;
                margin-bottom: 1.5rem;
                // direction - justify content - align items - flex wrap
                @include dflex(column, center, normal, nowrap);
                border-radius: 0.4rem;
                border: 1.6px solid rgb(124, 124, 124);
                z-index: 9;
                transition: box-shadow 0.2s ease;
                &:focus, &:hover {
                    border: 1.6px solid rgb(0, 0, 0);
                    box-shadow: -1px 1px 3px #888888;
                }
                label {
                    position: absolute;
                    top: -0.8rem;
                    left: 10px;
                    background-color: transparent;
                    padding: 0px 6px;
                    color: rgb(94, 94, 94);
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #fff;
                        z-index: -1;
                        width: calc(100% + 10px);
                        height: calc(100% + 10px);
                    }
                }
                .fi-sr-circle-envelope, .fi-sr-lock {
                    position: absolute;
                    top: 55%;
                    left: 16px;
                    transform: translateY(-50%);
                    opacity: 0.6;
                }
                .fi-sr-circle-envelope {
                    font-size: 23px;
                }
                .fi-sr-lock {
                    font-size: 18px;
                }
                input {
                    padding: 23px 20px 23px 45px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    font-size: 0.8rem;
                }
            }
            .login_interact {
                width: 100%;
                margin-bottom: 3rem;
                // direction - justify content - align items - flex wrap
                @include dflex(row, space-between, normal, nowrap);
                .login-interact__show-psw-btn {
                    // direction - justify content - align items - flex wrap
                    @include dflex(row, flex-start, center, nowrap);
                    & > input {
                        width: 15px;
                        height: 15px;
                        margin-right: 8px;
                        color: blue;
                        cursor: pointer;
                    }
                    & > label {
                        font-size: 14px;
                    }
                }
                button {
                    padding: 8px 30px;
                    border: none;
                    outline: none;
                    background-color: #2E09DB;
                    color: white;
                    border-radius: 0.6rem;
                    cursor: pointer;
                    transition: all 0.2s ease;
                    &:hover {
                        filter: brightness(1.2) drop-shadow(0px 0px 4px #d1d1d1);
                    }
                }
            }
        }
        .login__bus-running-wrapper {
            width: 100%;
            z-index: 999;
            .login__bus-running-container {
                position: relative;
                width: 100%;
                .login__bus-holder {
                    transform: scale(0.6);
                    img {
                        position: absolute;
                        transform: translateX(-50%);
                        bottom: 0;
                        left: 50%;
                        animation: busin 3s ease forwards;
                    }
                }
                .login-bus-running__msg-container {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    .login-bus-running__msg {
                        width: 160px;
                        height: auto;
                        filter: drop-shadow(0px 1px 2px #888888);
                        visibility: hidden;
                        display: none;
                        &.active {
                            display: block;
                            visibility: visible;
                            animation: popup 3s ease-in-out forwards;
                        }
                    }
                }
                .login-bus-running__slider-holder {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 600%;
                    overflow: hidden;
                    // direction - justify content - align items - flex wrap
                    @include dflex(row, flex-start, flex-end, nowrap);
                    .login-bus-running__slider {
                        position: relative;
                        width: 60%;
                        opacity: 0.6;
                        animation: moveRight 10s linear infinite;
                        transition: opacity 3s ease-out;
                    }
                }
            }
        }
        .update-success-noti {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            background-color: #f8b349;
            visibility: hidden;
            opacity: 0;
            transition: all 1s ease;
            overflow: hidden;
            // direction - justify content - align items - flex wrap
            @include dflex(column, center, center, nowrap);
            .noti {
                width: 186.5px;
                height: 154px;
                margin-bottom: 3rem;
                .dog {
                    background-image: url('../images/graphics/cute-dog.png');
                    background-repeat: no-repeat;
                    background-size: 7480px 154px;
                    width: 186.5px;
                    height: 154px;
                }
                p {
                    font-family: TekoBold;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    opacity: 0;
                    filter: drop-shadow(0px 0px 4px #797979);
                }
            }
            &.active {
                visibility: visible;
                opacity: 1;
                .noti {
                    .dog {
                        animation: dog-appear 2.5s steps(40) forwards;
                    }
                    p {
                        opacity: 1;
                        animation: zoom-text 2.5s ease forwards;
                    }
                }
            }
        }
    }
}

@keyframes busin {
    0% {
        transform: translateX(-500%);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes popup {
    0% {
        transform: translateY(4em) scale(0);
        opacity: 0;
    }
    20% {
        transform: translateY(-0.5em) scale(1.1);
        opacity: 1;
    }
    40% {
        transform: translateY(0) scale(1);
    }
    64% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    74% {
        transform: translateY(-0.5em) scale(1.1);
    }
    100% {
        transform: translateY(4em) scale(0);
        opacity: 0;
    }
}
@keyframes loginMoveUpFadeReverse {
    0% {
        transform: translateY(4em);
        opacity: 0;
    }
    20% {
        transform: translateY(4em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes dog-appear {
    0% { background-position: 0 0; }
    100% { background-position: -7460px 0 }
}
@keyframes zoom-text {
    0% { transform: translateY(3em) scale(0); }
    20% { transform: translateY(0) scale(1.2); }
    30% { transform: translateY(1em) scale(1); }
    60% { transform: translateY(1em) scale(1); }
    80% { transform: translateY(3em) scale(0); }
    100% { transform: translateY(3em) scale(0); }
}