@import '../../assets//styles/mixin';



/* styles/product-page.scss */

.product-page {
  display: flex;
  justify-content: space-between;
  font-family: PoppinsVN, sans-serif;
  box-sizing: border-box;
  margin: 100px auto;


  .title {
    flex: 1;
    padding-bottom: 10px;

    ::after {
      content: '';
      width: 170px;
      display: block;
      background-color: #a4712a;
      height: 2px;
      margin-top: 10px;
    }

  }


  .category-list {
    font-size: 14px;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
    font-weight: 400;
    flex: 2;
    width: max-content;
    max-width: 250px;
    padding: 15px;

    h6 {
      list-style: none;
      padding: 0;
      color: #707070;
      padding-bottom: 2px;
      border-radius: 4px;
      margin-bottom: 8px;


      &.active {
        background-color: #888;
        color: #fff;
      }
    }

    button h6 {
      cursor: pointer;

      &:hover {
        color: rgb(164, 113, 42);
      }
    }

    ul {
      padding-top: 9px;
      margin-bottom: 1rem;

      li {
        padding-top: 15px;
        padding-left: 20px;

      }
    }
  }

  .product-list__wrapper {
    padding-left: 20px;
    text-align: center;

    hr {
      width: 300px;
    }

    .product-list {
      box-sizing: border-box;

      @include dgrid(repeat(4, 1fr), auto, 2rem);

      .product-list__item {
        text-align: left;
        align-items: center;
        padding: 15px;
        transition: transform 0.3s ease;
        margin-bottom: 30px;
        background-color: white;
        height: fit-content;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
          margin-right: 10px;
        }

        .name-alt {
          font-size: 0.75rem;
          font-weight: 600;
          color: rgb(164, 113, 42);
        }

        .name {
          color: rgb(0, 0, 0);
          margin-top: 3px;
          margin-bottom: 3px;
        }

        .price-before {
          display: inline;
          color: rgb(152, 152, 152);
        }

        .price {
          font-size: 0.75rem;
          font-weight: 600;

          span {
            color: #3C2C7C;
          }
        }

        .buttons-coat {
          margin-top: 15px;
          @include dflex(row, flex-start, center, nowrap);
          gap: 5px;

          .add-to-wishlist {
            padding: 10px 12px;

            i {
              margin-right: 1px;

            }

            &:hover {
              background-color: pink;
            }
          }

          button {
            @include normal-btn(1px solid black, 5px, white, black, 10px 8px, 0.6rem);

            &:hover {
              background-color: antiquewhite;
            }

            &:disabled {
              cursor: not-allowed;
              background-color: #888;
            }
          }

          button:not(.add-to-wishlist) i {
            margin-right: 5px;
          }
        }

        &:hover {
          /* Zoom-in effect on hover */
          box-shadow: 0px 2px 13px 6px rgba($color: #929292, $alpha: 0.1);
        }
      }
    }

    /* Specific modifications for each product type */
    .product-list.blazers {
      @extend .product-list;
      @include dgrid(repeat(4, 1fr), auto, 2rem);
    }

    .product-list.coat {
      @extend .product-list;
      @include dgrid(repeat(3, 1fr), auto, 2rem);
    }

    .product-list.suits {
      @extend .product-list;
      @include dgrid(repeat(5, 1fr), auto, 2rem);
    }
  }

}




.list-page {
  font-family: PoppinsVN, sans-serif;
  box-sizing: border-box;
  padding-left: 20px;
  margin-left: 20px;

  ul {
    display: flex;

    li {
      display: block;

      width: 40px;
      background-color: white;
      box-sizing: border-box;
      border: 1px solid rgb(112, 112, 112);
      margin: 1px;
      text-align: center;

      p {
        display: block;
        font-size: 15px;
        line-height: 40px;
        color: rgb(112, 112, 112);

        &:hover {
          color: white;
        }
      }


      &:hover {
        background-color: rgb(164, 113, 42);
        cursor: pointer;
      }

      &.active {
        background-color: rgb(164, 113, 42);
        color: white;
      }

    }
  }

  .list-page {
    font-family: PoppinsVN, sans-serif;
    box-sizing: border-box;
    padding-left: 20px;
    margin-left: 20px;

    ul {
      display: flex;

      li {
        display: block;

        width: 40px;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid rgb(112, 112, 112);
        margin: 1px;
        text-align: center;

        p {
          display: block;
          font-size: 15px;
          line-height: 40px;
          color: rgb(112, 112, 112);

          &:hover {
            color: white;
          }
        }

        &:hover {
          background-color: rgb(164, 113, 42);
          cursor: pointer;
        }

        &.active {
          background-color: rgb(164, 113, 42);
          color: white;
        }

      }
    }
  }
}