@import '../../assets//styles/mixin';



/* styles/product-page.scss */

.product-page {
    display: flex;
    justify-content: space-between;
    font-family: PoppinsVN, sans-serif;
    box-sizing: border-box;
    margin: 100px auto;

    
    .title{
      flex:1;
      padding-bottom: 10px;
    ::after{
      content: '';
      width: 170px;
      display: block;
      background-color: #a4712a;
      height: 2px;
      margin-top: 10px;
    }
   
    }
     
    
    .category-list {
      font-size: 14px;
      font-kerning: auto;
      font-optical-sizing: auto;
      font-stretch: 100%;
      font-weight: 400;
      flex: 2;
      width: max-content;
      max-width: 250px;
      padding:15px;
      h{
        list-style: none;
        padding: 0;
        color:#707070;
        cursor: pointer;
        padding-bottom: 2px;
        border-radius: 4px;
        margin-bottom: 8px;

        &:hover {
          color:rgb(164, 113, 42);

        }

        &.active {
          background-color: #888;
          color: #fff;
        }
      }
      ul {
       padding-top: 9px;
       margin-bottom: 1rem;
        li {
          padding-top: 15px;
          padding-left: 20px;
        
        }
      }
    }
    .product-list-blazers {
      padding-left: 20px;
      box-sizing: border-box;
      @include dgrid(repeat(4, 1fr), auto, 2rem);
  
      .product-list__item {
        text-align: left;
        align-items: center;
        padding: 15px;
        transition: transform 0.3s ease;
        margin-bottom: 30px;
        background-color: white;
        height: fit-content;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
          margin-right: 10px;
        }
        .name-alt{
          font-size: 0.75rem;
          font-weight: 600;
          color:rgb(164, 113, 42);
        }
        .name{
                  
          color:rgb(0, 0, 0);
          margin-top: 3px;
          margin-bottom: 3px;
        }
        .price-before{
          display: inline;
          color: rgb(152, 152, 152);
        }
        .price{
          font-size: 0.75rem;
          font-weight: 600;
          span {
            color: #3C2C7C;
          }
        }
        &:hover {
          transform: scale(1.05); // Zoom-in effect on hover
          box-shadow: 0px 2px 13px 6px rgba($color: #929292, $alpha: 0.1);
        }
      }
    }
  
  
    .product-list-coat {
      padding-left: 20px;
      box-sizing: border-box;
      @include dgrid(repeat(3, 1fr), auto, 2rem);
  
      .product-list__item {
        text-align: left;
        align-items: center;
        padding: 15px;
        transition: transform 0.3s ease;
        margin-bottom: 30px;
        background-color: white;
        height: fit-content;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
          margin-right: 10px;
        }
        .name-alt{
          font-size: 0.75rem;
          font-weight: 600;
          color:rgb(164, 113, 42);
        }
        .name{
                  
          color:rgb(0, 0, 0);
          margin-top: 3px;
          margin-bottom: 3px;
        }
        .price-before{
          display: inline;
          color: rgb(152, 152, 152);
        }
        .price{
          font-size: 0.75rem;
          font-weight: 600;
          span {
            color: #3C2C7C;
          }
        }
        &:hover {
          transform: scale(1.05); // Zoom-in effect on hover
          box-shadow: 0px 2px 13px 6px rgba($color: #929292, $alpha: 0.1);
        }
      }
    }
      .product-list-suits {
        padding-left: 20px;
        box-sizing: border-box;
        @include dgrid(repeat(5, 1fr), auto, 2rem);
    
        .product-list__item {
          text-align: left;
          align-items: center;
          padding: 15px;
          transition: transform 0.3s ease;
          margin-bottom: 30px;
          background-color: white;
          height: fit-content;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            margin-right: 10px;
          }
          .name-alt{
            font-size: 0.75rem;
            font-weight: 600;
            color:rgb(164, 113, 42);
          }
          .name{
                    
            color:rgb(0, 0, 0);
            margin-top: 3px;
            margin-bottom: 3px;
          }
          .price-before{
            display: inline;
            color: rgb(152, 152, 152);
          }
          .price{
            font-size: 0.75rem;
            font-weight: 600;
            span {
              color: #3C2C7C;
            }
          }
          &:hover {
            transform: scale(1.05); // Zoom-in effect on hover
            box-shadow: 0px 2px 13px 6px rgba($color: #929292, $alpha: 0.1);
          }
        }
      }
      
    }

    
    
  
    .list-page{
      font-family: PoppinsVN, sans-serif;
      box-sizing: border-box;
      padding-left: 20px;
      margin-left: 20px;
        ul{
        display: flex;
        li{
          display: block;
       
          width: 40px;
          background-color: white;
          box-sizing: border-box;
          border:1px solid rgb(112, 112, 112);
          margin: 1px;
          text-align: center;
          p{
            display:block;
            font-size: 15px;
            line-height: 40px;
            color: rgb(112, 112, 112);
            &:hover {
                color:white;
              }
            }
       
          &:hover {
            background-color:rgb(164, 113, 42);
            cursor: pointer;
          }
  
          &.active {
            background-color: rgb(164, 113, 42);
            color: white;
          }
       
        }
    }
    }