// default.scss

// Global configuration
@import './assets/styles/config.scss';

// // Pages
// @import './assets/styles/scss/home.scss';
.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}