.item {
	margin: 0;
	padding: 12px;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	transition: all .2s ease;
	
	img {
		height: 100%;
		object-fit: cover;
		width: 80px;
	}

	border: transparent 1px solid;

	&:hover {
		background-color: #eee;
	}
	input{
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		width: 10ch;
		height: 20px;
		text-align: center;
		color: var(--primary);
		font-weight: bold;
	}
}

.item__info {
	flex: 1;
	margin-left: 18px;
}

.item__price {
	
	margin-top: 12px;
}

.item__price__value {
	color: var(--grey);
	&::before {
		content: "$";
	}
}

.item__price__number {
	color: var(--primary-light);
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	&::before {
		content: "amount: ";
		margin-right: 8px;
	}
}

.item__info__name {
	color: var(--primary);
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
}

.actions {
	display: flex;
	align-items: center;
	gap: 8px;
	button{
		margin-right: 10%;
		i {
			font-size: 1.2rem;
		}
	}
	
}

.actions__change {
	display: flex;
	flex-direction: column;
	button:first-child i {
		color: #50c878;
	}
	button:last-child i {
		color: #d21f3c;
	}
}