@import '../../assets//styles/mixin';

$primary-color: #aeb10a;

.measure-container{
    @include dflex(column, space-between, null, null);
    padding-top: 10px;
    .measure-head{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        margin-bottom: 20px;
        img{
            width: 80px;
        }
        .measure-head-back{
            text-align: left;
            margin-left: 30px;
        }
    }
    .measure-body{
        @include dgrid(5% 30% 40% 25%, auto);
        
        .measure__filter--mn{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
          

            .measure__filter--it{
                p{
                    font-weight: 600;
                    font-size: small;
                    color: gray;
                } 
            }

            .measure__filter--it:hover{
                p{
                    color: black;
                }
            }
        }
        
        
        .measure__choose--product{
            @include dgrid(repeat(3,1fr), repeat(4,1fr));
            overflow :scroll;
            max-height: 80vh;

            img{
                cursor: pointer; 
                max-height: 120px;
                max-width: 120px;
            }
        }
    }
    .measure__swear--suit{

        margin: auto;

        img{
            max-height: 80vh;
        }
    }
    .measure__infor{
        text-align: right;
        padding-right: 20px;
        p:first-child{
            font-weight: 600;
            font-size: larger;
            color: black;
        }
       
        p{
            margin: 10px 0px;
            font-size: large;
            color: gray;
        }

        .measure_infor_btn{
            display: flex;
            justify-content: flex-end;
            margin-top: 100px;
            gap: 20px ;
            
            button{
                font-weight: 300;
                min-width: 80px;
            }
            .measure__infor__btn--it{
                background-color: white;
                border: solid gray 1px;
                border-radius: 5px;
                
            }

            .measure__infor__btn--it--selected{
                background-color: $primary-color;
                border: solid $primary-color 2px;
                border-radius: 5px;
                color: white;
            }
        }
    }
}

.product--selected{
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

.product--unselected{
    margin:1px;
}