@import './mixin';

// Responsive settings
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;

.tasks {
    position: relative;
    padding: 5rem 0 0 7rem;
    width: calc(100% - 5rem);
    height: calc(100vh - 5rem);
    // direction - justify content - align items - flex wrap
    @include dflex(column, flex-start, normal, nowrap);
    .tasks__header {
        width: 90%;
        // direction - justify content - align items - flex wrap
        @include dflex(row, space-between, center, nowrap);
        .tasks-header__title {
            white-space: nowrap;
            .tasks-header__title-icon {
                position: relative;
                bottom: -1px;
                width: 1.3rem;
                height: 1.3rem;
                margin-right: 1rem;
            }
            h1 {
                font-size: 1.5rem;
                font-weight: 600;
                display: inline-block;
            }
        }
        .tasks__interact-field {
            // direction - justify content - align items - flex wrap
            @include dflex(row, flex-end, center, nowrap);
            gap: 2rem;
            .tasks__filter-btn {
                font-weight: 600;
                // border - border radius - background color - color - padding - font size
                @include normal-btn(none, 8px, transparent, black, 10px 12px, 0.825rem);
                i {
                    font-size: 0.8rem;
                    margin-right: 0.5rem;
                }
                &:hover {
                    background-color: var(--heavy-white-smoke);
                    transform: scale(1.025);
                }
            }
            .tasks__search-box {
                height: 50px;
                width: 15rem;
                background-color: var(--heavy-white-smoke);
                border-radius: 0.5rem;
                overflow: hidden;
                box-shadow: 0px 2px 13px -3px rgba(184, 184, 184, 0.8);
                transition: box-shadow 0.2s ease-in-out;
                // direction - justify content - align items - flex wrap
                @include dflex(row, center, center, nowrap);
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    padding: 13px 20px;
                    background-color: transparent;
                    outline: none;
                }
                button {
                    margin-right: 10px;
                    // border - border radius - background color - color - padding - font size
                    @include normal-btn(none, 0, transparent, var(--cadet-grey), auto, 1rem);
                    i {
                        position: relative;
                        bottom: -2px;
                    }
                }
                &:hover {
                    box-shadow: 0px 2px 13px -3px rgba(88, 88, 88, 0.8);
                }
            }
        }
    }
    .tasks__main {
        margin-top: 2rem;
        width: 90%;
        overflow: auto;
        flex-grow: 1;
        // grid-template-columns - grid-template-rows - gap
        @include dgrid(repeat(4, 1fr), auto, 1rem);
        .tasks-main__list {
            width: 100%;
            min-width: 200px;
            // direction - justify content - align items - flex wrap
            @include dflex(column, flex-start, center, nowrap);

            .tasks-main-list__header {
                width: calc(100% - 2rem);
                height: 70px;
                padding: 0 1rem;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0px 4px 13px -3px rgba(184, 184, 184, 0.4);
                // direction - justify content - align items - flex wrap
                @include dflex(row, space-between, center, nowrap);

                h2 {
                    font-size: 0.825rem;
                    font-weight: 600;
                    opacity: 0.7;
                }

                .tasks-main-list-header__interact-container {
                    // direction - justify content - align items - flex wrap
                    @include dflex(row, flex-end, center, nowrap);
                    button {
                        padding: 6px 7px;
                        border-radius: 4px;
                        transition: all 0.2s ease-in;
                        i {
                            pointer-events: none;
                        }
                        &:nth-child(1) {
                            font-size: 0.7rem;
                            i {
                                position: relative;
                                bottom: -2.5px;
                            }
                        }
                        &:nth-child(2) {
                            font-size: 0.45rem;
                            background-color: var(--heavy-white-smoke);
                            margin-left: 0.5rem;
                            color: var(--butterfly-bush);
                        }
                    }
                    .tasks-main-list-header__sort-container {
                        position: relative;
                        .tasks-main-list-header__sort-dropdown {
                            visibility: hidden;
                            opacity: 0;
                            z-index: 999;
                            pointer-events: none;
                            background-color: white;
                            width: 150px;
                            height: fit-content;
                            position: absolute;
                            top: 100%;
                            right: 0;
                            border-radius: 5px;
                            box-shadow: 0px 2px 13px -3px rgb(184, 184, 184);
                            transition: all 0.2s ease-in;
                            button {
                                width: 100%;
                                text-align: left;
                                margin: 0;
                                // border - border radius - background color - color - padding - font size
                                @include normal-btn(none, 0, white, var(--mountain-mist), 0.6rem 0.75rem, 0.6rem);
                                i {
                                    margin-right: 0.5rem;
                                    font-size: 0.7rem;
                                    bottom: -1px;
                                }
                                &:hover {
                                    color: black;
                                    background-color: var(--heavy-white-smoke);
                                }
                                &.active {
                                    color: black;
                                    background-color: var(--heavy-white-smoke);
                                }
                            }
                            &.active {
                                visibility: visible;
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                    }
                }
            }
            .tasks-main-list__content {
                width: 100%;
            }
        }
    }
    .tasks__create-layout {
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #ffffff, $alpha: 0.95);
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s ease-in-out;
        // direction - justify content - align items - flex wrap
        @include dflex(column, center, center, nowrap);
        .tasks__create-container {
            margin-top: 2rem;
            width: 700px;
            // grid-template-columns - grid-template-rows - gap
            @include dgrid(60% 1fr, auto, 1rem);

            .tasks-create__main-information {

                .tasks-create__task-name {
                    width: calc(100% - 1.5rem);
                    padding: 0.6rem 0.75rem;
                    margin-bottom: 0.5rem;
                    border-radius: 4px;
                    border: 1px solid var(--mountain-mist);
                    font-family: Montserrat, sans-serif;
                    font-size: 0.75rem;
                }
                .tasks-create-main__tags {
                    // direction - justify content - align items - flex wrap
                    @include dflex(row, flex-start, center, wrap);
                    gap: 0.5rem;
                    & > button {
                        font-weight: 600;
                        // border - border radius - background color - color - padding - font size
                        @include normal-btn(none, 2px, var(--heavy-white-smoke), var(--ultramarine-blue), 5px 12px, 0.6rem);
                        &:hover {
                            background-color: var(--quill-grey);
                        }
                    }
                    .cc-task__tag {
                        width: fit-content;
                        padding: 4px 5px 4px 10px;
                        border-radius: 5px;
                        background-color: var(--butterfly-bush); // Default
                        color: white;
                        // direction - justify content - align items - flex wrap
                        @include dflex(row, center, center, nowrap);
                        p {
                            font-size: 0.5rem;
                            font-weight: 500;
                        }
                        button {
                            font-weight: 500;
                            font-size: 0.75rem;
                            margin-left: 5px;
                            position: relative;
                            top: -1px;
                        }
                    }
                    .task-create-main__new-tag {
                        display: none;
                        input {
                            border-radius: 2px;
                            border: 1px solid var(--mountain-mist);
                            font-family: Montserrat, sans-serif;
                            font-size: 0.6rem;
                            &:nth-child(1) {
                                width: 6rem;
                                height: 1.25rem;
                                padding: 0 0.3rem;
                                margin: 0;
                            }
                            &:nth-child(2) {
                                padding: 0;
                                margin: 0 0 0 0.2rem;
                            }
                        }
                        button {
                            font-size: 1rem;
                            margin: 0 0 0 0.1rem;
                            color: green;
                            visibility: hidden;
                            opacity: 0;
                            pointer-events: none;
                            transition: opacity 0.2s ease-in;
                            &.active {
                                visibility: visible;
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                        &.active {
                            // direction - justify content - align items - flex wrap
                            @include dflex(row, flex-start, center, nowrap);
                        }
                    }
                }
                .tasks-create__task-des {
                    margin: 0.5rem 0 1rem 0;
                    width: calc(100% - 1.5rem);
                    padding: 0.6rem 0.75rem;
                    height: 200px;
                    resize: none;
                    font-family: Montserrat, sans-serif;
                }
            }
            .task-create__sub-information {
                & > label {
                    font-size: 0.75rem;
                    font-weight: 600;
                }
                .task-create__choose-location {
                    margin: 0.4rem 0 1rem 0;
                    // direction - justify content - align items - flex wrap
                    @include dflex(row, flex-start, center, nowrap);

                    input {
                        margin: 0 0.3rem 0 0;
                    }
                    label {
                        font-size: 0.75rem;
                        margin-right: 1rem;
                    }
                }
                .task-create__choose-duedate {
                    margin: 0 0 0.5rem 0;
                    width: 100%;
                    // border - border radius - background color - color - padding - font size
                    @include normal-btn(1px solid var(--mountain-mist), 4px, transparent, black, 0.6rem 0.75rem, 0.6rem);

                    label {
                        font-size: 0.75rem;
                        font-weight: 600;
                        pointer-events: none;
                    }
                    input {
                        border: none;
                        outline: none;
                        font-family: Montserrat, sans-serif;
                        pointer-events: none;
                    }
                }
            }
            .tasks-create__error-notification {
                width: 100%;
                grid-column: 1 /span 2;
                height: 30px;
                background-color: transparent;
                color: red;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                &.active {
                    visibility: visible;
                    opacity: 1;
                }
            }
            .task-create__submit-btn {
                width: 100%;
                grid-column: 1 /span 2;
                // border - border radius - background color - color - padding - font size
                @include normal-btn(none, 2px, var(--mountain-mist), black, 15px 0, 0.75rem);
                
            }
        }
        .tasks__close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            // border - border radius - background color - color - padding - font size
            @include normal-btn(none, 0, transparent, black, auto, 1rem);
        }
        &.active {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
    }
}

@media (max-width: $desktop-breakpoint) {
    .tasks {
        padding: 8rem 0 0 7rem;
        height: calc(100vh - 8rem);
        .tasks__header {
            .tasks__search-box {
                height: 40px;
            }
        }
    }
}
@media (max-width: $tablet-breakpoint) {
    .tasks {
        .tasks__header {
            .tasks__search-box {
                input {
                    font-size: 0.825rem;
                }
            }
        }
    }
}
@media (max-width: $mobile-breakpoint) {
    .tasks {
        padding: 10rem 0 0 7rem;
        height: calc(100vh - 10rem);
        .tasks__main .tasks-main__list .tasks-main-list__header {
            height: 50px;
        }
    }
}
