.section{
	margin-top: 32px;

	label {
		font-size: 1.2rem;
		font-weight: 600;
		color: var(--grey);

		&::after {
			content: ":";
		}
	}

	span,
	p {
		font-size: 1.2rem;
	}



}

.form__field {
	margin-top: 24px;
	display: flex;
	flex-direction: row;
	flex: 1;
	gap: 8px;
}

.row {
	display: flex;
	gap: 40px;

	@media (max-width:767px) {
		flex-direction: column;
		gap: 0;
	}
}

.actions {
	display: flex;
	gap: 40px;
	justify-content: flex-end;
	button[type="submit"],button{
		display: inline-block;
		margin-top: 32px;
		border-radius: 8px;
		background-color: var(--primary-light);
		border: none;
		font-weight: bold;
		cursor: pointer;
		padding: 16px 12px;
		height: 56px;
		font-size: 1rem;

		&:hover {
			background-color: var(--primary);
		}
	}
}